openapi: 3.0.3
info:
  title: Courier Audiences Automations API
  description: 'Courier is notification infrastructure that orchestrates transactional and product messaging across email, SMS, push, chat, and an in-app inbox from a single REST API. This document models the primary public endpoints under the base URL https://api.courier.com: sending notifications (Send), inspecting sent messages, managing lists, user profiles, preferences, device tokens, notification templates, brands, automations, audiences, tenants, bulk jobs, audit events, and translations. All requests are authenticated with a Bearer API key. Endpoint paths are grounded in Courier''s published API reference; request and response bodies are modeled and simplified.'
  version: 2024-01
  contact:
    name: Courier
    url: https://www.courier.com
  x-endpoint-confidence: Paths and methods are grounded in the Courier API reference (https://www.courier.com/docs/reference). Schemas are modeled, not exhaustive.
servers:
- url: https://api.courier.com
  description: Courier production API
security:
- bearerAuth: []
tags:
- name: Automations
  description: Multi-step notification workflows.
paths:
  /automations/invoke:
    post:
      operationId: invokeAdHocAutomation
      tags:
      - Automations
      summary: Invoke an ad-hoc automation
      description: Invoke an automation run defined inline in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                automation:
                  type: object
                  additionalProperties: true
                brand:
                  type: string
                data:
                  type: object
                  additionalProperties: true
                profile:
                  type: object
                  additionalProperties: true
                recipient:
                  type: string
                template:
                  type: string
      responses:
        '202':
          description: The automation run was accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  runId:
                    type: string
  /automations/{template_id}/invoke:
    parameters:
    - name: template_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: invokeAutomationTemplate
      tags:
      - Automations
      summary: Invoke an automation template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '202':
          description: The automation template run was accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  runId:
                    type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Courier API key passed as `Authorization: Bearer <YOUR_API_KEY>`. Keys are found in the Courier settings under API Keys and are environment scoped (test vs production).'
