openapi: 3.0.3
info:
  title: Courier Audiences Audit Events API
  description: 'Courier is notification infrastructure that orchestrates transactional and product messaging across email, SMS, push, chat, and an in-app inbox from a single REST API. This document models the primary public endpoints under the base URL https://api.courier.com: sending notifications (Send), inspecting sent messages, managing lists, user profiles, preferences, device tokens, notification templates, brands, automations, audiences, tenants, bulk jobs, audit events, and translations. All requests are authenticated with a Bearer API key. Endpoint paths are grounded in Courier''s published API reference; request and response bodies are modeled and simplified.'
  version: 2024-01
  contact:
    name: Courier
    url: https://www.courier.com
  x-endpoint-confidence: Paths and methods are grounded in the Courier API reference (https://www.courier.com/docs/reference). Schemas are modeled, not exhaustive.
servers:
- url: https://api.courier.com
  description: Courier production API
security:
- bearerAuth: []
tags:
- name: Audit Events
  description: Workspace audit events.
paths:
  /audit-events:
    get:
      operationId: listAuditEvents
      tags:
      - Audit Events
      summary: List audit events
      responses:
        '200':
          description: A paged list of audit events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEvent'
  /audit-events/{audit_event_id}:
    parameters:
    - name: audit_event_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getAuditEvent
      tags:
      - Audit Events
      summary: Get an audit event
      responses:
        '200':
          description: The requested audit event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEvent'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Paging:
      type: object
      properties:
        cursor:
          type: string
        more:
          type: boolean
    Error:
      type: object
      properties:
        message:
          type: string
        type:
          type: string
    AuditEvent:
      type: object
      properties:
        auditEventId:
          type: string
        source:
          type: string
        type:
          type: string
        timestamp:
          type: string
        actor:
          type: object
          additionalProperties: true
        target:
          type: object
          additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Courier API key passed as `Authorization: Bearer <YOUR_API_KEY>`. Keys are found in the Courier settings under API Keys and are environment scoped (test vs production).'
